<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.leind.novenu" >

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Novenu.Dark" >
        <activity
            android:name=".Introduction.activity.IntroActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait"
            android:theme="@style/Novenu.Dark.FullScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.activity.HomeActivity"
            android:label="@string/app_name"
            android:theme="@style/Novenu" />

        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/Novenu.Dark" />

        <activity
            android:name=".Profile.activity.ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".Introduction.activity.IntroActivity"
            android:theme="@style/Novenu.Dark.Translucent">

        </activity>
    </application>

</manifest>
